body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

nav a {
  margin: 10px;
  color: #38bdf8;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
